<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% assign proficiency = page.level | divided_by: 4 | plus: 2 %}
  {% assign initiative = page.dex | minus: 10 | divided_by: 2 %}
  {% assign initiative = initiative | plus: page.init_buff %}

  {% assign str_mod = page.str | minus: 10 | divided_by: 2 %}
  {% assign dex_mod = page.dex | minus: 10 | divided_by: 2 %}
  {% assign con_mod = page.con | minus: 10 | divided_by: 2 %}
  {% assign int_mod = page.int | minus: 10 | divided_by: 2 %}
  {% assign wis_mod = page.wis | minus: 10 | divided_by: 2 %}
  {% assign cha_mod = page.cha | minus: 10 | divided_by: 2 %}

  <header>
    <span class="ribbon-outer">
      <span class="ribbon-inner">
        <h1>{{ page.name | remove: ".md" | replace: "_", " " | replace: "-", " " | capitalize}}</h1>
        <h2>Level {{ page.level }} {{ page.race | camelcase | capitalize }} {{ page.class | camelcase | capitalize }}</h2>
      </span>
      <span class="left-tail"></span>
      <span class="right-tail"></span>
    </span>
  </header>
  <div id="attribute-banner">
    <span id="attributes">
      <span class="stat">Str: {{ page.str }} ({{ str_mod }})</span>
      <span class="stat">Dex: {{ page.dex }} ({{ dex_mod }})</span>
      <span class="stat">Con: {{ page.con }} ({{ con_mod }})</span>
      <span class="stat">Int: {{ page.int }} ({{ int_mod }})</span>
      <span class="stat">Wis: {{ page.wis }} ({{ wis_mod }})</span>
      <span class="stat">Cha: {{ page.cha }} ({{ cha_mod }})</span>
    </span>
  </div>
  <span class="banner-fix"></span>
</html>
