<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<table>
  <thead>
    <tr><th colspan="2">Ability Saves</th></tr>
  </thead>

  <tbody>
    <tr><td>Strength</td><td align="center">{{ str_mod | plus: include.str | default: 0 }}</td></tr>
    <tr><td>Dexterity</td><td align="center">{{ dex_mod | plus: include.dex | default: 0 }}</td></tr>
    <tr><td>Constitution</td><td align="center">{{ con_mod | plus: include.con | default: 0 }}</td></tr>
    <tr><td>Intelligence</td><td align="center">{{ int_mod | plus: include.int | default: 0 }}</td></tr>
    <tr><td>Wisdom</td><td align="center">{{ wis_mod | plus: include.wis | default: 0 }}</td></tr>
    <tr><td>Charisma</td><td align="center">{{ cha_mod | plus: include.cha | default: 0 }}</td></tr>
  </tbody>
</table>
</html>
