<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<table>
  <thead>
  </thead>

  <tbody>
    {% for p in site.data.proficiencies %}
    <tr><td>{{p.name}} ({{p.type | capitalize }})</td><td>
      {% if page.proficiencies contains p.name %}
        <span style="font-weight:bold">{{ page[p.type] | minus: 10 | divided_by: 2 | plus: proficiency | default: 0 }}</span>
      {% else %}
        {{ page[p.type] | minus: 10 | divided_by: 2 | plus: include.alternative | default: 0 }}
      {% endif%}
    </td></tr>
    {% endfor %}
  </tbody>
</table>
</html>
