---
---

@import "{{ site.theme }}";

div#attribute-banner {
  position: relative;
  display: block;
  height: 197px;
  width: 550px;
  padding-bottom: 150px;
  margin: -80px auto -150px;
  z-index: 1;
  background: transparent url(../images/bg-ramp.jpg) center 171px no-repeat;
}

div#attribute-banner span#attributes {
  display: block;
  position: relative;
  height: 197px;
  width: 550px;
  background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
}

div#attribute-banner span#attributes span.stat {
  top: 120px;
  position: relative;
  float: left;
  text-align: center;
  font-size: 100%;
  width: 33.33333333%;
}
