<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">

    <script type="text/javascript" src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
  </head>

  <body>
    <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name | replace: "-", " " }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}

      <span class="banner-fix"></span>

      <section id="main_content">
        {{ content }}

        {% assign character_classes = site.characters | map: "class" | uniq | sort %}
        {% unless character_classes == empty %}
        <h1>Characters</h1>
        {% for c_class in character_classes %}
          <h2>{{ c_class | capitalize }}s</h2>
          <ul>
          {% for c in site.characters %}
            {% if c.class == c_class %}
              <li><a href="{{ c.url | prepend: site.baseurl }}">{{ c.name }} ({{ c.race | capitalize }})</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endfor %}
        {% endunless %}

        {% assign monster_classes = site.monsters | map: "class" | uniq | sort %}
        {% unless monster_classes == empty %}
          <h1>Monsters</h1>
          {% for m_class in monster_classes %}
            <h2>{{ m_class | capitalize }}</h2>
            <ul>
            {% for m in site.monsters %}
              {% if m.class == m_class %}
                <li><a href="{{ m.url | prepend: site.baseurl  }}">{{ m.name }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endfor %}
        {% endunless %}
      </section>

  {% include footer.html %}
</html>
